public/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- meta-->
    <title>kayac-html5-starter</title>
    <meta name="description" content="テストページ.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- smartphone meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <!-- ogp-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="kayac-html5-starter">
    <meta property="og:site_name" content="kayac-html5-starter">
    <meta property="og:description" content="テストページ.">
    <meta property="og:locale" content="ja_JP">
    <!-- twitter card-->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="kayac-html5-starter">
    <meta property="twitter:description" content="テストページ.">
    <!-- stylesheet-->
    <script src="js/lib/html5shiv.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="overmenuwrap">
          <div id="menuwrap">
            <div id="logoimg"><a href="#"><img class="logo" src="images/Graffpink.png"></a></div>
            <div id="login"><a href="#"><img class="login" src="images/Login.png">Login</a></div>
            <div class="menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <section id="headimg">
        <div id="headerimg"><img src="images/header.png"></div>
        <div id="headertitle">
          <h1>WELCOME TO PINK!</h1>
          <h2>A multi purpose theme from cssauthor.com</h2>
        </div>
      </section>
      <div id="wrapper">
        <div id="main">
          <section id="maintitle">
            <h1>Lorem Ipsum is simply dummy!!</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus-<br>try's standard dummy text ever since the 1500s, when an unknown</p>
          </section>
          <section id="icons">
            <div class="ticket"><img class="ura" src="images/tickets_hover.png"><img class="omote" src="images/tickets.png"></div>
            <div class="camera"><img class="ura" src="images/camera_hover.png"><img class="omote" src="images/camera.png"></div>
            <div class="beer"><img class="ura" src="images/beer_hover.png"><img class="omote" src="images/beer.png"></div>
            <div class="devices"><img class="ura" src="images/devices_hover.png"><img class="omote" src="images/devices.png"></div>
          </section>
        </div>
        <section id="news">
          <article class="post"><img class="wp-post-image" src="images/newsimg.png">
            <h1 class="title">Lorem Ipsum is simply dummy</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged.
            </p>
          </article>
          <article class="post"><img class="wp-post-image" src="images/newsimg.png">
            <h1 class="title">Lorem Ipsum is simply dummy</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged.
            </p>
          </article>
          <article class="post"><img class="wp-post-image" src="images/newsimg.png">
            <h1 class="title">Lorem Ipsum is simply dummy</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged.
            </p>
          </article>
        </section>
      </div>
      <footer>
        <div id="footer-wrap">
          <nav id="footer"><a>
              <h1>新着記事一覧</h1></a>
            <div class="footerbox">
              <div class="menuwrap"><a>
                  <h2>Tickets</h2></a>
                <ul>
                  <li>Android</li>
                  <li>Apps</li>
                  <li>Articles</li>
                  <li>Backgrounds</li>
                  <li>Brogger</li>
                  <li>Books</li>
                  <li>Coding</li>
                </ul>
              </div>
              <div class="menuwrap"><a>
                  <h2>Camera</h2></a>
                <ul>
                  <li>Freebies</li>
                  <li>Greetings</li>
                  <li>Icons</li>
                  <li>Illustrator</li>
                  <li>Inspiration</li>
                  <li>iPad</li>
                  <li>iPhone</li>
                </ul>
              </div>
            </div>
            <div class="footerbox">
              <div class="menuwrap"><a>
                  <h2>Beer</h2></a>
                <ul>
                  <li>Drupal</li>
                  <li>Fonts</li>
                  <li>Freebies</li>
                  <li>Greetings</li>
                  <li>Icons</li>
                  <li>Illustrator</li>
                  <li>Inspiration</li>
                </ul>
              </div>
              <div class="menuwrap"><a>
                  <h2>Devices</h2></a>
                <ul>
                  <li>JQuery</li>
                  <li>Magento</li>
                  <li>Mobile</li>
                  <li>Photoshop</li>
                  <li>Plugins</li>
                  <li>Resource</li>
                  <li>Templates</li>
                </ul>
              </div>
            </div>
          </nav>
          <div id="share">
            <p><img src="images/facebook.png"><img src="images/twitter.png"><img src="images/www.png"><img src="images/share.png"></p>
            <p class="copyright">Copyright © 2009–2013 Cssauthor.com</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- javascript-->
    <script src="js/script.js"></script>
  </body>
</html>

src/pug/index.pug
extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    div#overmenuwrap
      div#menuwrap
        div#logoimg
          a(href="#")
            img.logo(src="images/Graffpink.png")
        div#login
          a(href="#")
            img.login(src="images/Login.png")
            | Login
        div.menu
          ul
            li: a(href="#") Home
            li: a(href="#") About Us
            li: a(href="#") Services
            li: a(href="#") Contact
  section#headimg
    div#headerimg
      img(src="images/header.png")
    div#headertitle
      h1 WELCOME TO PINK!
      h2 A multi purpose theme from cssauthor.com

  div#wrapper
    div#main
      section#maintitle
        h1 Lorem Ipsum is simply dummy!!
        p
          |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus-
          br
          |try's standard dummy text ever since the 1500s, when an unknown

      section#icons
        div.ticket
          img.ura(src="images/tickets_hover.png")
          img.omote(src="images/tickets.png")
        div.camera
          img.ura(src="images/camera_hover.png")
          img.omote(src="images/camera.png")
        div.beer
          img.ura(src="images/beer_hover.png")
          img.omote(src="images/beer.png")
        div.devices
          img.ura(src="images/devices_hover.png")
          img.omote(src="images/devices.png")

    section#news
      article.post
        img.wp-post-image(src="images/newsimg.png")
        h1.title Lorem Ipsum is simply dummy
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          | essentially unchanged.

      article.post
        img.wp-post-image(src="images/newsimg.png")
        h1.title Lorem Ipsum is simply dummy
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          | essentially unchanged.

      article.post
        img.wp-post-image(src="images/newsimg.png")
        h1.title Lorem Ipsum is simply dummy
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          | essentially unchanged.


  footer
    div#footer-wrap
      nav#footer
        a: h1 新着記事一覧
        div.footerbox
          div.menuwrap
            a: h2 Tickets
            ul
              li Android
              li Apps
              li Articles
              li Backgrounds
              li Brogger
              li Books
              li Coding
          div.menuwrap
            a: h2 Camera
            ul
              li Freebies
              li Greetings
              li Icons
              li Illustrator
              li Inspiration
              li iPad
              li iPhone
        div.footerbox
          div.menuwrap
            a: h2 Beer
            ul
              li Drupal
              li Fonts
              li Freebies
              li Greetings
              li Icons
              li Illustrator
              li Inspiration
          div.menuwrap
            a: h2 Devices
            ul
              li JQuery
              li Magento
              li Mobile
              li Photoshop
              li Plugins
              li Resource
              li Templates

      div#share
        p
          img(src="images/facebook.png")
          img(src="images/twitter.png")
          img(src="images/www.png")
          img(src="images/share.png")
        p.copyright Copyright © 2009–2013 Cssauthor.com
